.dropdown-container {
  margin-top: 50px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-cover {
  display: flex; 
  align-items: center;
  position: relative;
  margin-bottom: 15px;
}

.input-wrapper {
  position: relative;
}

.input-field {
  width: 300px;
  padding: 10px ; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

.id-field {
  width: 100px; 
  margin-left: 10px; 
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

.icon-button {
  position: absolute;
  cursor: pointer;
}

.arrow-icon {
  right: 30px; 
  top: 30%;
  color: #777;
}

.close-icon {
  right: 5px; 
  top: 30%;
  color: #777;
}

.dropdown {
  position: absolute;
  top: 100%; 
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  padding: 10px ; 
  border-radius: 4px;
  width: 300px;
  overflow-y: auto;
  z-index: 1;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item.active {
  background-color: #c9cdcf;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
.close-input-field-button{
  margin-left: 30px;
  cursor: pointer;
  color: #2e2c2c;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}